<div class="field">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" name="user[first_name]" ng-model="user.firstName" required />
</div>
<div class="field">
    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" name="user[last_name]" ng-model="user.lastName" required />
</div>
<div class="field">
    <label for="age">Age</label>
    <input id="age" type="number" name="user[age]" ng-model="user.age" type="number" />
</div>
<div class="field">
    <label for="gender">Gender</label>
    <select id="gender" name="user[gender]" ng-model="user.gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
    <br />
</div>
<div>
    <label for="county">County</label>
    <input id="county" type="text" name="user[address_attributes][county]" ng-model="user.address.county" />
    <label for="address_1">Address 1</label>
    <input id="address_1" type="text" name="user[address_attributes][address_1]" ng-model="user.address.address1" />
    <label for="address_2">Address 2</label>
    <input id="address_2" type="text" name="user[address_attributes][address_2]" ng-model="user.address.address2" />
</div>
<br />