<div class="container" ng-app="onboarding-task">
  <div ng-controller="userEditController">  
    <form class="simple-form" style="margin-top:20px;" ng-init="user=getUser('<%= @user.id %>')">  
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div user-form></div>        
      <div class="actions">
        <input type="submit" value="Update User" ng-click="updateUser('<%= @user.id %>', user)" />  
      </div>
    </form>

  </div>
</div>