<h1>New User</h1>

<div class="container" ng-app="onboarding-task">
  <form class="simple-form" ng-submit="createUser()" ng-controller="userEditController">  
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div user-form></div>        
    <div class="actions">
      <input type="submit" value="Create User" />  
    </div>
  </form>
</div>

<%= link_to 'Back', users_path %>
